<h1> How can we help you today?</h1>

<div class ="container">
    <a href="/lists"><button class="button btn">View your to-do lists</a>
    <a href="/lists/new"><button class="button btn">Make a new list</a>
</div>
