<h1> Your current to-do lists:</h1>

<% if @lists.any?() %>
  <ul>
    <% @lists.each() do |list| %>
      <li><a href="/lists/<%= list.id()%>"><%= list.name() %></a></li>
    <% end %>
  </ul>
<% else %>
  <p> You don't have any lists yet!</p>
<% end %>
