<h1>Name your To do list:</h1>

  <form action="/lists" method="post">
    <div class="form-group">
      <label for="list_name">What do you want to call this list?</label>
      <input type="text" name="list_name" id="list_name" required>
    </div>
    <button type="submit" class="button btn" name="submit">Submit</button>
  </form>
