<h1>Name your To do list:</h1>

  <form action="/lists/new" method="post">
    <div class="form-group">
      <label for="name">What do you want to call this list?</label>
      <input type="text" name="name" id="name" required>
    </div>
    <a href="/success"><button type="button" class="button btn" name="submit">Submit</button></a>
  </form>
